<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo" style="height: 60px;">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>CC</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Connected</b>Car</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: #3c8dbc">
                            <img src="app/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">Atul K</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="app/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    Atul K - Web Developer
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar" style="background-color: #3c8dbc"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel" style="height: 50px;">
                <div class="pull-left image">
                    <img src="app/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Atul K</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <hr/>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">



                <li class="treeview" style="color:#b8c7ce;">
                    <a>
                        <i class="fa fa-pie-chart"></i>
                        <span (click)="getModule('info');">Vehicle-Info</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><i class="fa fa-circle-o"></i> Lattitude & longitude</li>
                        <li> <i class="fa fa-circle-o"></i> Fuel consumed since start</li>
                        <li><i class="fa fa-circle-o"></i> Odometer</li>
                        <li><i class="fa fa-circle-o"></i>Vehicle speed</li>
                    </ul>
                </li>

                <li class="treeview" style="color:#b8c7ce;">
                    <a>
                        <i class="fa fa-pie-chart"></i>
                        <span (click)="getModule('diagonstic');">Vehicle-Diagnostics</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><i class="fa fa-circle-o"></i>Mass Air flow</li>
                        <li><i class="fa fa-circle-o"></i>Engine coolant temp</li>
                        <li><i class="fa fa-circle-o"></i>Absolute Barometric Pressure</li>
                        <li><i class="fa fa-circle-o"></i> Intake air temp</li>
                        <li><i class="fa fa-circle-o"></i>Engine reference torque</li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Vehicle
                <small>Info</small>
            </h1>
        </section>

        <!-- Main row -->
        <div class="row">

            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable" style="width: 100%">
                <div class="input-group input-group-sm">
                    <input [(ngModel)]="deviceId" type="text" class="form-control" placeholder="Enter Vehicle Id ....">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat" (click)="getSelectedDeviceMap(deviceId)">Go!</button>
                    </span>
                </div><br/><br/>

                <div   style="height: 100%; border-style: solid;border-color: red;border-width: thick">
                    <div class="inner" style="height: 100%">

                       <sebm-google-map
                                [latitude]="lat"
                                [longitude]="lng"
                                [zoom]="zoom"
                                [disableDefaultUI]="false"
                                [zoomControl]="true"
                                [disableDefaultUI]="false"
                                (mapClick)="mapClicked($event)">

                            <sebm-google-map-marker

                                    *ngFor="let m of markers; let i = index"
                                    (markerClick)="clickedMarker(m.deviceId, i)"
                                    [latitude]="m.lat"
                                    [longitude]="m.lng"
                                    [label]="m.label"
                                    [iconUrl]="carImg"
                                    [markerDraggable]="m.draggable"
                                    (dragEnd)="markerDragEnd(m, $event)">

                                <sebm-google-map-info-window>
                                    <strong style="color: black;">Vehicle Id : <a (click)="getSelectedDeviceMap(m.deviceId)"> {{m.deviceId}}</a></strong>
                                </sebm-google-map-info-window>

                            </sebm-google-map-marker>

                        </sebm-google-map>

                    </div>
                </div>
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <span  style="font-size: medium;">
                Vehicle Id :  {{selectedDeviceId}}
            </span>
            <br/>
            <div class="row" id="vehicle-component" *ngIf="vehicleComponent">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{vehicleData.fuel_consumed_since_restart}} <sup style="font-size: 20px">Gallons</sup> </h3>
                            <p>Fuel consumed since start</p>
                        </div>
                        <div class="icon">

                            <img src="app/img/fuel-tank.png" width="50" height="60">
                        </div>
                        <a  (click)="showVechileComponent('A')" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{vehicleData.disntance_traveled}} <sup style="font-size: 20px">Miles</sup></h3>
                            <p>Distance traveled from start</p>
                        </div>
                        <div class="icon">
                            <img src="app/img/distance-traveled.jpg" width="50" height="60">
                        </div>
                        <a  (click)="showVechileComponent('B')" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{vehicleData.vehicle_speed}}  <sup style="font-size: 20px">miles / Hour</sup></h3>
                            <p>Speed</p>
                        </div>

                        <div class="icon">
                            <img src="app/vehicle/map/img/speed.jpg" width="50" height="60">
                        </div>
                        <a  (click)="showVechileComponent('C')" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">


                           Dat & Time : <h3><sup style="font-size: 20px">{{vehicleData.travelDate}} - {{vehicleData.travelTime}}</sup></h3>

                            <p>Trip Duration</p>
                        </div>
                        <div class="icon">
                            <img src="app/vehicle/map/img/time.png" width="50" height="60">
                        </div>
                        <a   (click)="showVechileComponent('D')"  class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <a *ngIf="backLinkVisible" (click)="getVehicleDashboard()" style="float: right;">Back</a><br/>
            <div class="box" id="more-vehile-info" *ngIf="morevehileInfo">

                <div class="box-header">
                    <h3 class="box-title">Condensed Full Width Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Task</th>
                            <th>Progress</th>
                            <th style="width: 40px">Label</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Update software</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-red">55%</span></td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Clean database</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-yellow">70%</span></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Cron job running</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-light-blue">30%</span></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Fix and squish bugs</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-green">90%</span></td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2017-2017 <a>Capgemini Pvt Ltd</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <h3 class="control-sidebar-heading">Chat Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->