<div class="wrapper">

    <div class="box box-solid">
        <div class="box-body" style="position: relative;">
            <!--<span class="eg">Main Header Example</span>-->
            <header class="main-header" style="position: relative;">
                <!-- Logo -->
                <a href="#" class="logo" style="position: relative;"><b>Connected</b>Car</a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar" role="navigation" style="border: 0;max-height: 50px;">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                           <!-- <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                            <li>&lt;!&ndash; start message &ndash;&gt;
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>&lt;!&ndash; end message &ndash;&gt;
                                        </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>-->
                            <!-- Notifications: style can be found in dropdown.less -->
                            <!--<li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                        </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>-->

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="app/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">Atul K</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="app/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        <p>
                                             Atul K - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                   <!-- <li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </li>-->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div id="geoLocationAll" style="padding-top: 30px;">

                <section>

                    <div class="input-group input-group-sm">
                       Enter Device Id :  <input [(ngModel)]="deviceId" type="text" class="form-control">
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat" (click)="getSelectedDeviceMap(deviceId)">Go!</button>
                    </span>
                    </div><br/><br/>

                    <div id="dashboardMap"   class="small-box bg-red" style="height: 100%">
                        <div class="inner" style="height: 100%">

                             <sebm-google-map
                                    [latitude]="lat"
                                    [longitude]="lng"
                                    [zoom]="zoom"
                                    [disableDefaultUI]="false"
                                    [zoomControl]="false"
                                    [usePanning]="true"
                                    (mapClick)="mapClicked($event)">

                                <sebm-google-map-marker

                                        *ngFor="let m of markers; let i = index"
                                        (markerClick)="clickedMarker(m.deviceId, i)"
                                        [latitude]="m.lat"
                                        [longitude]="m.lng"
                                        [label]="m.label"
                                        [markerDraggable]="m.draggable"
                                        (dragEnd)="markerDragEnd(m, $event)">

                                    <sebm-google-map-info-window>
                                        <strong style="color: black;">Device Id : <a (click)="getVehicleInfoByDeviceId(selectedDeviceId)"> {{selectedDeviceId}}</a></strong>
                                    </sebm-google-map-info-window>

                                </sebm-google-map-marker>

                               <!--  [iconUrl]="carImg" <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
                                                        [radius]="5000"
                                                        [fillColor]="'red'"
                                                        [circleDraggable]="false"
                                                        [editable]="true">
                                </sebm-google-map-circle>-->

                            </sebm-google-map>

                        </div>

                        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                    </div>
                </section>
            </div>


        </div>
    </div>
</div>